<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" defer></script>
<script src="{{- 'assets/js/jquery.scrolly.min.js' | relative_url -}}" defer></script>
<script src="{{- 'assets/js/jquery.scrollzer.min.js' | relative_url -}}" defer></script>
<script src="{{- 'assets/js/skel.min.js' | relative_url -}}" defer></script>
<script src="{{- 'assets/js/util.js' | relative_url -}}" defer></script>
<!--[if lte IE 8]><script src="{{- 'assets/js/ie/respond.min.js' | relative_url -}}" defer></script><![endif]-->
<script src="{{- 'assets/js/main.js' | relative_url -}}" defer></script>
